@charset "UTF-8";
h1 {
  color: #456f70;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 2px;
  word-spacing: 5px;
}

* {
  margin: 0;
  padding: 0;
}

.lista {
  color: #8dc7b4;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  list-style-type: disc;
}

.filtro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

aside.sidebar {
  padding: 0px;
}

.body1 {
  background-color: #ebedee;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}

iframe {
  padding: 20px 20px;
}

.pago {
  color: #456f70;
  font-family: 'Roboto', sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1250px;
  margin: 0px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pago h3 {
  padding: 10px 0px;
  padding-right: 5%;
  padding-left: 5%;
  margin-left: 9%;
  margin-right: 9%;
}

.itemsContacto {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 25px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 15px;
}

input {
  font-size: 20px;
}

option {
  font-size: 20px;
}

.tituloCamiseta {
  color: rgba(233, 155, 10, 0.726);
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

/* EMPIEZA EL SUBMENÚ */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  text-align: center;
  background-color: rgba(156, 211, 245, 0.753);
}

#dropdownMenuButton1 {
  background-color: rgba(156, 211, 245, 0.753);
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border: solid 1px rgba(156, 211, 245, 0.753);
  color: #456f70;
}

#dropdownMenuLink {
  background-color: rgba(156, 211, 245, 0.753);
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border: solid 1px rgba(156, 211, 245, 0.753);
  color: #456f70;
}

li a, .dropbtn {
  display: block;
  color: #456f70;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a :hover, .dropdown:hover .dropbtn {
  background-color: beige;
  margin: 0px;
}

li.dropdown {
  display: inline-block;
  z-index: 10;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* TERMINA EL SUBMENÚ */
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-height: 90px;
  max-width: 90px;
  margin-left: 5px;
}

.hijoflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 83px;
}

.padre-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.padre-flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hijo-flex {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.hijo-flex1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.hijo-flex2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

article {
  width: 100%;
  max-width: 660px;
  margin-left: 0%;
  background-color: #ebedee;
}

button {
  font-size: 20px;
  text-align: center;
  -webkit-transition: all 2s;
  transition: all 2s;
  padding: 3px 2px;
}

button:hover {
  background-color: #456f70;
  color: cornsilk;
}

.precio {
  font-size: 20px;
}

.padregrid {
  display: -ms-grid;
  display: grid;
  margin: auto auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "grid1 grid2 grid3" "grid4 grid5 grid6";
  text-align: center;
}

.pago {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #e9ecfd;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.contenedor-index {
  width: 100%;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr, 1fr, 1fr;
      grid-template-columns: 1fr, 1fr, 1fr;
  -ms-grid-rows: auto, auto, auto, auto, auto;
      grid-template-rows: auto, auto, auto, auto, auto;
      grid-template-areas: "header-index header-index header-index" "nav-index nav-index nav-index" "contenido-index contenido-index contenido-index" "widget-1-index widget-2-index widget-3-index" "footer-index footer-index footer-index";
}

.header1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header-index;
  background: rgba(156, 211, 245, 0.753);
  color: #456f70;
  background-image: -webkit-gradient(linear, left top, left bottom, from(cornsilk), to(rgba(156, 211, 245, 0.753)));
  background-image: linear-gradient(to bottom, cornsilk, rgba(156, 211, 245, 0.753));
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 10%;
}

.header1__nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav-index;
}

.contenido-index {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido-index;
}

.widget1,
.widget2,
.widget3 {
  color: #fff;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer1 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer-index;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer1__info {
  max-width: 100%;
  max-height: 95%;
}

.widget1__img,
.widget2__img,
.widget3__img {
  max-height: 30%;
  max-width: 30%;
}

.contenedor {
  width: 100%;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr, 1fr, 1fr;
      grid-template-columns: 1fr, 1fr, 1fr;
  -ms-grid-rows: auto, auto, auto, auto, auto;
      grid-template-rows: auto, auto, auto, auto, auto;
      grid-template-areas: "header header header" "nav nav nav" "sidebar contenido contenido" "widget-1 widget-2 widget-3" "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
  background: #e9ecfd;
  border-radius: 4px;
}

.contenedor .header {
  background: rgba(156, 211, 245, 0.753);
  color: #456f70;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-image: -webkit-gradient(linear, left top, left bottom, from(cornsilk), to(rgba(156, 211, 245, 0.753)));
  background-image: linear-gradient(to bottom, cornsilk, rgba(156, 211, 245, 0.753));
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
}

.logo-lupetto {
  max-width: 80px;
  max-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20%;
}

.nombre-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10%;
}

.contenedor .contenido {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: contenido;
}

.imagen-contenido {
  max-width: 100%;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
}

.contenedor .sidebar {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  min-height: 50%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

#sidebar-index {
  background-color: sandybrown;
}

.contenedor .widget-1,
.contenedor .widget-2,
.contenedor .widget-3 {
  color: #fff;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.widget1 {
  background-color: #3700ff;
}

.widget2 {
  background-color: #370080;
}

.widget3 {
  background-color: #9282ee;
}

.widget1__img-p,
.widget2__img-p,
.widget3__img-p {
  font-size: 12px;
  text-align: center;
}

.contenedor .widget-1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: widget-1;
}

.contenedor .widget-2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: widget-2;
}

.contenedor .widget-3 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: widget-3;
}

.contenedor .footer {
  background: black;
  color: #456f70;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 500px;
}

.footer1 {
  background: black;
  color: #456f70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 500px;
}

@media screen and (min-width: 576px) {
  .contenedor {
        grid-template-areas: "header header header" "nav nav nav" "sidebar contenido contenido" "widget-1 widget-2 widget-3" "footer footer footer";
  }
}

@media screen and (min-width: 768px) {
  .contenedor {
        grid-template-areas: "header header header" "nav nav nav" "sidebar contenido contenido" "widget-1 widget-2 widget-3 " "footer footer footer";
  }
}

@media screen and (min-width: 992px) {
  .contenedor {
        grid-template-areas: "header header header" "nav nav nav" "sidebar contenido contenido" "widget-1 widget-2 widget-3" "footer footer footer";
  }
}

@media screen and (min-width: 1200px) {
  .contenedor {
        grid-template-areas: "header header header" "nav nav nav" "sidebar contenido contenido" "widget-1 widget-2 widget-3" "footer footer footer";
  }
}

.img-widget {
  width: 100%;
  height: 100%;
}

.p-widget {
  width: 100%;
  height: 100%;
}

h4 {
  font-size: 15px;
}

@media screen and (min-width: 576px) {
  .contenedor-index {
        grid-template-areas: "header-index header-index header-index" "nav-index nav-index nav-index" "contenido-index contenido-index contenido-index" "widget-1-index widget-2-index widget-3-index" "footer-index footer-index footer-index";
  }
}

@media screen and (min-width: 768px) {
  .contenedor-index {
        grid-template-areas: "header-index header-index header-index" "nav-index nav-index nav-index" "contenido-index contenido-index contenido-index" "widget-1-index widget-2-index widget-3-index" "footer-index footer-index footer-index";
  }
}

@media screen and (min-width: 992px) {
  .contenedor-index {
        grid-template-areas: "header-index header-index header-index" "nav-index nav-index nav-index" "contenido-index contenido-index contenido-index" "widget-1-index widget-2-index widget-3-index" "footer-index footer-index footer-index";
  }
}

@media screen and (min-width: 1200px) {
  .contenedor-index {
        grid-template-areas: "header-index header-index header-index" "nav-index nav-index nav-index" "contenido-index contenido-index contenido-index" "widget-1-index widget-2-index widget-3-index" "footer-index footer-index footer-index";
  }
}

.precioanterior {
  text-decoration: line-through;
  color: grey;
}

#container-dudas {
  margin-right: 13%;
}

#button-contacto {
  margin-top: 3%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.p-footer1, .footer1__info-p {
  color: white;
  font-size: large;
  font-weight: bold;
  line-height: 80px;
  padding-left: 20px;
}

.p-footer2, .footer2__info-p {
  color: white;
  font-size: large;
  font-weight: bold;
  line-height: 80px;
  padding-left: 20px;
}

.p-footer3, .footer3__info-p {
  color: white;
  font-size: large;
  font-weight: bold;
  line-height: 80px;
  padding-left: 20px;
}

.p-footer4, .footer4__info-p {
  color: white;
  font-size: large;
  font-weight: bold;
  line-height: 80px;
  padding-left: 20px;
}

.categorias1 {
  background-color: #1e1e42;
  color: white;
  max-height: 1000px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: grey solid 2px;
  padding: 10px 20px;
}

.categorias2 {
  background-color: #1e1e42;
  color: white;
  max-height: 1000px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: grey solid 2px;
  padding: 10px 20px;
}

.categorias3 {
  background-color: #1e1e42;
  color: white;
  max-height: 1000px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: grey solid 2px;
  padding: 10px 20px;
}

.categorias4 {
  background-color: #1e1e42;
  color: white;
  max-height: 1000px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: grey solid 2px;
  padding: 10px 20px;
}

.imagen1 {
  width: 250px;
  height: 240px;
  margin: 5px;
  padding: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.imagen1:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

.imagen2 {
  width: 250px;
  height: 240px;
  margin: 5px;
  padding: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.imagen2:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

.imagen3 {
  width: 250px;
  height: 240px;
  margin: 5px;
  padding: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.imagen3:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

.widget1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: widget-1-index;
}

.widget2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: widget-2-index;
}

.widget3 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: widget-3-index;
}

.grid1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 35px;
  height: 450px;
}

.grid2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 35px;
  height: 450px;
}

.grid3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 35px;
  height: 450px;
}

.grid4 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 35px;
  height: 450px;
}

.grid5 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 35px;
  height: 450px;
}

.grid6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 35px;
  height: 450px;
}

.grid1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: grid1;
}

.grid2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: grid2;
}

.grid3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: grid3;
}

.grid4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: grid4;
}

.grid5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: grid5;
}

.grid6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: grid6;
}
/*# sourceMappingURL=estilo.css.map */