h1 {
    color: rgb(69, 111, 112);
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.5;
    letter-spacing: 2px;
    word-spacing: 5px;
}


* {
    margin: 0;
    padding: 0;
}

.lista {
    color: #8dc7b4;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    list-style-type: disc;
}



.filtro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

aside.sidebar {
    padding: 0px;
}

.body1 {
    background-color: #e9ecfd;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    margin-right: 0%;
}



.pago {
    color: rgb(69, 111, 112);
    font-family: 'Roboto', sans-serif;
    display: inline-flex;
    width: 1250px;
    margin: 0px 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pago h3 {
    padding: 10px 0px;
    padding-right: 5%;
    padding-left: 5%;
    margin-left: 9%;
    margin-right: 9%;
}


.itemsContacto {
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    font-size: 25px;
    text-transform: capitalize; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;  
} 

input {
    font-size: 20px;
}

option {
    font-size: 20px;
}

.tituloCamiseta {
    color: rgba(233, 155, 10, 0.726);
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-family:'Roboto', sans-serif;
    font-weight: bolder;
}
/* EMPIEZA EL SUBMENÚ */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    text-align: center;
    background-color: rgba(156, 211, 245, 0.753);
}

#dropdownMenuButton1 {
    background-color: rgba(156, 211, 245, 0.753);
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    text-align: center;
    border: solid 1px rgba(156, 211, 245, 0.753);
    color: rgb(69, 111, 112);
}

#dropdownMenuLink {
    background-color: rgba(156, 211, 245, 0.753);
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    text-align: center;
    border: solid 1px rgba(156, 211, 245, 0.753);
    color: rgb(69, 111, 112);
}

li a, .dropbtn {
    display: block;
    color: rgb(69, 111, 112);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a :hover, .dropdown:hover .dropbtn {
    background-color: beige;
    margin: 0px;
}

li.dropdown {
    display: inline-block;
    z-index: 10;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a:hover {
background-color: #f1f1f1;

}

.dropdown:hover .dropdown-content {
    display: block;
}

/* TERMINA EL SUBMENÚ */

nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-height: 90px;
    max-width: 90px;
    margin-left: 5px;
}

.hijoflex {
    display: flex;
    justify-content: center;
    height: 83px;
}

.padre-flex {
    display: flex;
    flex-direction: row;
    
}

.padre-flex2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.hijo-flex {
    order: 0;
    flex: 2;
}

.hijo-flex1 {
    order: 1;
    flex: 2;
}

.hijo-flex2 {
    order: 2;
    flex: 2;
}

article {
    // width: 100%;
    // max-width: 660px;
    margin-left: 0%;
    
}


button {
    font-size: 20px;
    text-align: center;
    transition: all 2s;
    padding: 3px 2px;
}

button:hover {
    background-color: rgb(69, 111, 112);
    color: cornsilk;
}

.precio {
    font-size: 20px;
}

.padregrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "grid1 grid2 grid3"
    "grid4 grid5 grid6";
    text-align: center;
}

.pago {
    animation-duration: 3s;
    animation-name: aparecer;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: #e9ecfd;
    color: black;
    font-family:'Roboto', sans-serif;
}


// RESPONSIVE DEL INDEX
.contenedor-index {
    width: 100%;
    margin: 20px auto; 
    display: grid;
    grid-gap: 0%;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: auto, auto, auto, auto, auto;
    grid-template-areas:    "header-index header-index header-index"
                            "nav-index nav-index nav-index"
                            "contenido-index contenido-index contenido-index"
                            "widget-1-index widget-2-index widget-3-index"
                            "footergrid footergrid footergrid"
}

.header1 {
    grid-area: header-index;
    background: rgba(156, 211, 245, 0.753);
    color:rgb(69, 111, 112);
    background-image: linear-gradient(to bottom, cornsilk, rgba(156, 211, 245, 0.753));
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 5% 10%;
}

.header1__nav {
    grid-area: nav-index;
}

.contenido-index {
    grid-area: contenido-index;
}

.widget1,
.widget2,
.widget3 {
    color: #fff;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.footergrid {
    grid-area: footergrid;
}

.widget1__img,
.widget2__img,
.widget3__img {
    max-height: 30%;
    max-width: 30%;
}
// TERMINA RESPONSIVE INDEX

// RESPONSIVE DEMAS PAGINAS
.contenedor {
    width: 100%; 
    margin: 20px 0px; 
    margin-right: 0%;
    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto, auto, auto, auto, auto;
    grid-template-areas:    "header header"
                            "nav nav"
                            "sidebar padregrid"
                            "padregrid padregrid"
                            "footergrid-p footergrid-p";
}


.contenedor > div,
.contenedor .header,
.contenedor .padregrid,
.contenedor .sidebar,
.contenedor .footergrid-p {
    background: #e9ecfd;
    border-radius: 4px;
}

.contenedor .header {
    background: rgba(156, 211, 245, 0.753);
    color:rgb(69, 111, 112);
    grid-area: header;
    background-image: linear-gradient(to bottom, cornsilk, rgba(156, 211, 245, 0.753));
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 10%;
}

.logo-lupetto {
    max-width: 80px;
    max-height: 80px;
    display: flex;
    align-content: flex-start;
}

.nombre {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%
} 

.nombre-index {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%
}

.contenedor .padregrid {
    grid-area: padregrid;
    // width: fit-content;
}

.imagen-contenido {
    max-width: 100%;
}

nav{
    grid-area: nav;
}

.contenedor .sidebar {
    // grid-column: 3 / 4;
    min-height: 50%;
    grid-area: sidebar;
    min-width: fit-content;
}



$mapawidget: (
    widget1: rgb(55, 0, 255),
    widget2: rgb(55, 0, 128),
    widget3: rgb(146, 130, 238)
);

@each  $color, $widget in $mapawidget {
    .#{$color} {
        background-color: #{$widget};
    }
}


.footergrid {
    grid-area: footergrid;
}

.footergrid-p {
    grid-area: footergrid-p;
}

// TERMINA RESPONSIVE DEMAS PAGINAS

// MOBILE SOLO DEL INDEX


@media screen and (max-width: 320px) {
    .contenedor-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-gap: 0%;
        grid-template-areas:"header-index"
                            "nav-index"
                            "contenido-index"
                            "widget-1-index"
                            "widget-2-index"
                            "widget-3-index"
                            "footergrid";
    }
}


@media screen and (min-width: 576px) {
    .contenedor-index{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: auto auto auto auto auto auto auto;
        grid-template-areas:"header-index header-index header-index"
                            "nav-index nav-index nav-index"
                            "contenido-index contenido-index contenido-index"
                            "widget-1-index widget-1-index widget-1-index"
                            "widget-2-index widget-2-index widget-2-index"
                            "widget-3-index widget-3-index widget-3-index"
                            "footergrid footergrid footergrid";
    }
    .header1 {
        min-height: fit-content;
        line-height: normal;
        font-size: auto;
    }
    
    h1 {
        letter-spacing: 0px;
        word-spacing: 0px;
        }
    
}

@media screen and (min-width: 768px) {
    .contenedor-index {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:"header-index header-index header-index"
                            "nav-index nav-index nav-index"
                            "contenido-index contenido-index contenido-index"
                            "widget-1-index widget-2-index widget-3-index"
                            "footergrid footergrid footergrid"
    }

.header1 {

    min-height: fit-content;
    line-height: normal;
    font-size: auto;

        h1 {
    letter-spacing: 0px;
    word-spacing: 0px;
            }
        }
        .widget3 {
            min-height: 100%;
        }
}




@media screen and (min-width:992px) {
    .contenedor-index {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:"header-index header-index header-index"
                            "nav-index nav-index nav-index"
                            "contenido-index contenido-index contenido-index"
                            "widget-1-index widget-2-index widget-3-index"
                            "footergrid footergrid footergrid"
    }
    .header1 {
        min-height: fit-content;
        line-height: normal;
        font-size: auto;
    }
    
    h1 {
        letter-spacing: 0px;
        word-spacing: 0px;
    }

}


@media screen and (min-width:1200px) {
    .contenedor-index {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:"header-index header-index header-index"
                            "nav-index nav-index nav-index"
                            "contenido-index contenido-index contenido-index"
                            "widget-1-index widget-2-index widget-3-index"
                            "footergrid footergrid footergrid";
    }
    .header1 {

        min-height: fit-content;
        line-height: normal;
        font-size: auto;
    
    h1 {
        letter-spacing: 0px;
        word-spacing: 0px;
    }
}}
//TERMINA MOBILE DEL INDEX

// MOBILE DEMAS PAGINAS
@media screen and (min-width: 320px) {
    .contenedor{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:"header header"
                            "nav nav"
                            "sidebar padregrid"
                            "footergrid-p footergrid-p";
    }
    .header1 {
        min-height: fit-content;
        line-height: normal;
        font-size: auto;
    }
    
    h1 {
        letter-spacing: 0px;
        word-spacing: 0px;
        font-size: 30px;
    }
    .padregrid {
        display: flex;
        flex-direction: column;
        margin: 0%;
    }
    .sidebar {
        max-width: fit-content;
        display: flex;
        flex-direction: column;
    }
    footer {
        min-height: 20px;
    }
    #container-dudas {
        display: flex;
        flex-direction: column;
        min-width: fit-content;
        justify-content: center;
        font-size: 30px;
        max-height: 80%;
        }
}

@media screen and (min-width: 576px) {
    .contenedor{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:"header header"
                            "nav nav"
                            "sidebar padregrid"
                            "padregrid padregrid"
                            "footergrid-p footergrid-p";
    }
    .padregrid {
        display: flex;
        flex-direction: column;
        margin: 0%;
    }
    .sidebar {
        max-width: fit-content;
        display: flex;
        flex-direction: column;
    }
    footer {
        min-height: 20px;
    }
    #container-dudas {
        display: flex;
        flex-direction: column;
        min-width: fit-content;
        justify-content: center;
        font-size: 30px;
        max-height: 80%;
        }
    
    #container-dudas {
        display: flex;
        flex-direction: column;
        min-width: 150%;
        justify-content: center;
        font-size: 30px;
        max-height: 90%;
        }
}

@media screen and (min-width: 768px) {
    .contenedor {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:"header header"
                            "nav nav"
                            "sidebar padregrid"
                            "padregrid padregrid"
                            "footergrid-p footergrid-p";
    }
    .padregrid {
        display: inline-flex;
        
    }
    #container-dudas {
        display: flex;
        flex-direction: column;
        min-width: 150%;
        font-size: 30px;
        max-height: 85%;
        }
}

@media screen and (min-width:992px) {
    .contenedor {
        grid-template-areas:"header header header"
                            "nav nav nav"
                            "sidebar padregrid padregrid"
                            "padregrid padregrid padregrid"
                            "footergrid-p footergrid-p footergrid-p";
    }
    .padregrid {
        display: grid;
        }
    #container-dudas {
        display: flex;
        flex-direction: column;
        min-width: 130%;
        font-size: 30px;
        max-height: 60%;
        }
}

@media screen and (min-width:1200px) {
    .contenedor {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:"header header header"
                            "nav nav nav"
                            "sidebar padregrid padregrid"
                            "padregrid padregrid padregrid"
                            "footergrid-p footergrid-p footergrid-p";
    }

    .header1 {

        min-height: fit-content;
        line-height: normal;
        font-size: auto;
    }
    h1 {
        letter-spacing: 0px;
        word-spacing: 0px;
    }
    #container-dudas {
    display: flex;
    flex-direction: column;
    min-width: 130%;
    font-size: 30px;
    max-height: 60%;
    }
    .padregrid {
        display: grid;
    }
}
// TERMINA MOBILE DEMAS PAGINAS

    .img-widget {
        width: 100%;
        height: 100%;
    }
    .p-widget {
        width: 100%;
        height: 100%;
    }
    h4 {
        font-size: 15px;
    }




// OFERTAS
.precioanterior {
    text-decoration: line-through;
    color: grey;
}



// CONTACTO
#container-dudas {
    margin-right: 13%;
}

#button-contacto {
    margin-top: 3%;
}

// CAROUSEL
.carousel-inner img {
    width: 100%;
    height: 100%;
}

@for $i from 1 through 4 {
    .p-footer#{$i}, .footer#{$i}__info-p {
        color: white *$i;
        font-size: large;
        font-weight: bold;
        line-height: 80px;
        padding-left: 20px;
    }
}

@for $s from 1 through 4 {
    .categorias#{$s} {
        background-color: #3264a8;
        color: white;
        max-height: 1000px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        border: rgba(156, 211, 245, 0.753) solid 2px;
        padding: 10px 20px;
    }
}

@each $number in 1, 2, 3 {
    .imagen#{$number} {
        width: 250px;
        height: 240px;
        margin: 5px;
        padding: 10px;
        transition: all 1s;
    }
    .imagen#{$number}:hover{
        transform: scale(1.15, 1.15);
    }
}

@each $number in 1, 2, 3 {
    .widget#{$number}{
        grid-area: widget-#{$number}-index;
    }
}

@each $num in 1, 2, 3, 4, 5, 6 {
    .grid#{$num} {
        font-family:'Roboto', sans-serif;
        font-weight: bold;
        line-height: 35px;
        height: 450px;
    }
}

@each $grid in 1, 2, 3, 4, 5, 6 {
    .grid#{$grid} {
        grid-area: grid#{$grid};
    }
}

// NUEVO FOOTER
.footergrid {
    min-height: 100%;
    min-width: 100%;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0%;
    
}


.section-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "uno dos"
                        "tres cuatro";
}

.section-footer {
    
    min-width: 200%;
    background-color: #3264a8;
    font-size: 18px;
    
    
    
    .div-footer1,
    .div-footer2, 
    .div-footer3,
    .div-footer4 {

        padding: 18% 0%;

    }
        p, h6 {
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
        color: white;
        line-height: 25px;
    }

    h6 {
        font-size: 22px;
        font-weight: bold;
    }
}

.div-footer1 {

    min-height: 100%;
    grid-area: uno;
    border: 0.5px solid rgb(147, 169, 221);
}
.div-footer2 {

    min-height: 100%;
    grid-area: dos;
    border: 0.5px solid rgb(147, 169, 221);
}
.div-footer3 {

    min-height: 100%;
    grid-area: tres;
    border: 0.5px solid rgb(147, 169, 221);
}
.div-footer4 {

    min-height: 100%;
    min-width: auto;
    grid-area: cuatro;
    border: 0.5px solid rgb(147, 169, 221);
}

// FOOTER DEMAS PAGINAS
.footergrid-p {
    min-height: 100%;
    min-width: 100%;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0%;
    
}


.section-footer-p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "uno dos"
                        "tres cuatro";
}

.section-footer-p {
    
    min-width: 200%;
    background-color: #3264a8;
    font-size: 18px;
    
    
    
    .div-footer1-p,
    .div-footer2-p, 
    .div-footer3-p,
    .div-footer4-p {

        padding: 18% 0%;

    }
        p, h6 {
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
        color: white;
        line-height: 50px;
    }

    h6 {
        font-size: 22px;
        font-weight: bold;
    }
}

.div-footer1-p {
    min-height: 100%;
    grid-area: uno;
    border-right: 0.5px solid rgb(147, 169, 221);
}
.div-footer2-p {
    min-height: 100%;
    grid-area: dos;
    // border: 0.5px solid rgb(147, 169, 221);
}
.div-footer3-p {
    max-height: 50%;
    grid-area: tres;
    border: 0.5px solid rgb(147, 169, 221);
}
.div-footer4-p {
    max-height: 50%;
    grid-area: cuatro;
    border: 0.5px solid rgb(147, 169, 221);
}

// BOTONES REDES SOCIALES
.fa-facebook:hover {
    color:#3B5998;
    
    }
    .fa-twitter:hover {
    color:#55acee;
    }
    .fa-whatsapp:hover{
    color: greenyellow;
    }
    .fa-instagram:hover{
    color:violet;
    }
    .fa-facebook {
    min-width: 25px;
    color: white;
    }
    .fa-twitter {
    min-width: 25px;
    color: white;
    }
    .fa-whatsapp {
    min-width: 25px;
    color: white;
    }
    .fa-instagram {
    min-width: 25px;
    color:white;
    }
    .fa-map-marker {
        color: white;
    }
    .fa-map-marker:hover {
        color: yellow;
    }